# Ignora o ambiente virtual
venv/

# Ignora variáveis de ambiente (MUITO IMPORTANTE PARA SUA CHAVE DE API)
.env
.streamlit/secrets.toml

# Ignora arquivos temporários do Python e do ChromaDB
__pycache__/
chroma_db/

base_conhecimento/

# Garante que o banco de dados SEMPRE subam para o GitHub
# !banco_dados/

# images/

frontend/
app_web.py